@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-color: #d9d9d9;
    width: 100vw;
    overflow-x: hidden;
}

header{
    width: 95%;
    height: 100px;
    background-color:#00895b;
    margin: 20px auto 0px auto;
}

.header-area{
    width: 100%;
    height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.logo-header{
    font-size: 2.5rem;
    font-weight: bold;
    color: #e0e000;
    cursor: pointer;
}

.logo-header span{
    color: #fff;
}

.hamburguer-menu{
    width: 55px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburguer-menu .line{
    height: 5px;
    width: 100%;
    background-color: #fff;
}


.carousel-container {
    /* Define a largura exata para mostrar cerca de 3 meses (ajuste se necessário) */
    width: 250px; 
    height: 50px;
    margin-right: 5%; 
    overflow-x: auto; /* Permite a rolagem horizontal */
    scroll-behavior: smooth; /* Animação suave ao rolar */
    scroll-snap-type: x mandatory; /* Faz os itens "encaixarem" no lugar */
    
    /* Esconde a barra de rolagem nativa */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Esconde a barra de rolagem no Chrome, Safari e Opera */
.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha no começo em vez do centro */
    gap: 15px; /* Espaçamento entre os meses */
    padding: 0 10px;
    width: max-content; /* Muito importante: permite que a div cresça conforme os itens */
}

.carousel .carousel-data {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;
    color: #fff;
    text-align: center;
    cursor: pointer;
    
    /* Define que cada item tenha mais ou menos 1/3 da tela visível (80px) */
    min-width: 80px; 
    scroll-snap-align: center; /* Faz o mês parar sempre no meio ao fim da rolagem */
    transition: opacity 0.3s, font-size 0.3s;
    user-select: none; /* Evita que o texto seja selecionado de azul enquanto o usuário arrasta */
}

.carousel .active {
    opacity: 1;
    font-size: 2.5rem;
}


.user-info{
    margin: 0px auto 20px auto;
    width: 95%;
    height: 100px;
}
.user-info-area{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 40%;
    height: 100%;
    padding: 10px;
}

.user-info-img{
    background-image: url("/assets/img/user.jpg");
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00875f;
}


.user-info-sumary{
    text-align: center;
}

.user-info-sumary h3{
    color: #9e9e9e;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: -6px;
}

.user-info-sumary i{
    cursor: pointer;
}

.name-user-info{
    font-size: 1.2rem;
    font-weight: bold;
    color: #00875f;
}




.debt-summary{
    margin:0px auto 20px auto;
    width: 95%;
    height: 100px;
    background-color: #fff;
}

.summary-info{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.revenue,
.expenses{
    display: flex;
    align-items: center;
}


.revenue-circle,
.expenses-simbol{
    width: 80px;
    height: 80px;
    border-radius: 99999px;
    background-color: #00895b;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.revenue-circle i,
.expenses-simbol i{
    font-size: 50px;
    color: #fff;
}
.expenses-simbol{
    background-color: #fc3d35
}

.contas-add{
    margin:0px auto 20px auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allContas{
    display: flex;
    width: 100%;
}

.item {
    max-height: 39px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.revenue-add-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
    height: auto;
    border-spacing: 10px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 15px;
}

.revenue-add-area .item{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.revenue-add-area .item:nth-child(-n+3),
.expenses-add-area .item:nth-child(-n+4) {  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00895b;
    color: #fff;
    height: 60px;
 
}



.expenses-add-area{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 3 colunas */
    border-spacing: 10px;
    border-radius: 15px;
}

.expenses-add-area .item{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.contas-area{
    width: 100%;
    display: block;
    flex: 2;
}
.contas-area2{
    width: 100%;
    display: block;
    flex: 2;
}

.add-area-btn-revenue,
.add-area-btn-expense{
    width: 95%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.add-revenue,
.add-expenses{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    background-color: #fff;
    font-weight: bold;
    transition: ease 0.5s;
}
.add-revenue:hover{
    background-color: #00895b;
    color: #fff;
}

.add-expenses:hover{
    background-color: #fc3d35;
    color: #fff;
}

.add-revenue{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 9px;
    cursor: pointer;
   
}
.add-expenses{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.add-revenue span,
.add-expenses span{
    font-size: 2rem;
    margin-right: 10px;
}


.add-revenue h1,
.add-expenses h1{
    font-size: 0.8rem;
}


.info-revenue-area{
    display: flex;
    width: 500px;
    height: 400px;
    background-color: #00895b;
    position: fixed;
    opacity: 0.7;
    top: 23%;
    left: 30%;
    bottom: 0;
    right: 0s;
}


.popup-add-value {
  
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none; 
    
    /* Suas medidas */
    width: 700px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    

    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.popup-open {
    opacity: 1;
    pointer-events: auto; 
    transform: translate(-50%, -50%); 
}



.popup-add-value-header{
    display: flex;
    font-weight: bold;
    font-size: 25px;
    background-color: #00895b;
    border-top: 2px solid #fff;
    color: #fff;
    padding: 10px;
}

.popup-add-value-header-info{
    display: flex;
    align-items: center;
    font-size: 13px;
    
}

.popup-margin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;
    margin: auto;
}

.popup-add-value-header-info .revenue-circle{
    width: 50px;
    height: 50px;
    background-color: #004a30;
}
.popup-add-value-header-info .revenue-circle i {
    font-size: 20px;
}

.popup-add-value-header-info-close .close-popup{
    cursor: pointer;
}


.popup-add-value-main{
    max-width: 650px;
    margin: auto;
    margin-top: 30px;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 10px;
    font-weight: bold;
    color:#14181c;
}

.input-group input {
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    
}
.input-group select {
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    
}

.input-group input:focus{
    outline: none;
    border: 1px solid #00875f;
}


.input-group:last-of-type input {
    margin-bottom: 0px;
}


.buttons-popup{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button{
    border: 1px solid #b5b5b5;
    color: #d9d9d9;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease ;
}

.cancel-button:hover{
    color: #14181c;
     border: 1px solid #000000;
}

.save-button{
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 60px;
    font-weight: bold;
    background-color: #00895b;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px 5px #004a30;
    transition: 0.2s ease;
}

.save-button:hover{
    background-color: #ff0;
    color: #14181c;
    box-shadow: 2px 4px 5px rgb(125, 125, 3);
}




.popup-add-value {
    z-index: 1000;
}


.popup-add-expense {
    display: flex;
    flex-direction: column;
    opacity: 0; 
    pointer-events: none; 
    width: 700px;
    height: auto; 
    padding-bottom: 30px;
    background-color: #fff;
    border-radius: 15px;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1000; 
}


.popup-add-expense.popup-open {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

.popup-add-expense-header {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    background-color: #fc3d35;
    border-top: 2px solid #fff;
    border-radius: 15px 15px 0 0; 
    color: #fff;
    padding: 10px;
}

.popup-add-expense-header-info {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.popup-add-expense-header-info .expenses-simbol {
    width: 50px;
    height: 50px;
    background-color: #701411;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.popup-add-expense-header-info .expenses-simbol i {
    font-size: 25px;
}

.close-popup-expense {
    cursor: pointer;
}

.save-button.save-expense {
    background-color: #fc3d35;
    box-shadow: 2px 4px 5px #701411;
}

.save-button.save-expense:hover {
    background-color: #ffcccc; 
    color: #14181c;
    box-shadow: 2px 4px 5px #701411;
}




.expense-summary{
    display: flex;
    flex: 3;
    
}

.higher-expenses{
    flex: 1;
}

.higher-expenses-info,
.nearing-expenses-info{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 7px;
    border: solid 1px #b5b5b5;
}
.simbol-with-name-expenses,
.nearing-simbol-with-name-expenses{
    display: flex;
    align-items: center;
}

.simbol-with-name-expenses .simbol,
.nearing-simbol-with-name-expenses .simbol{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.higher-expenses-titulo,
.nearing-expenses-titulo{
    width: 100%;
    background-color: #00895b;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px 0px;
}

.higher-expense-description,
.nearing-expense-description{
    display: flex;
    justify-content: space-between;
    background-color:#b5b5b5;
    font-size: 0.6rem;
    padding: 8px 8px;
    color: #00875f;
}

.higher-expenses-area{
    margin-right: 10px;
    margin-bottom: 20px;
}

.nearing-expiration{
    flex: 1;
}



.graphc{
    margin: 0px auto 20px auto;
    width: 95%;
    height: 300px;
    background-color: #fff;
}

.graphc-area{
    display: flex;
    width: 100%;
    height: 100%;
}

.graphc-area-resumo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.graphc-circle{
    width: 250px;
  height: 250px;
  border-radius: 50%;
  
  background: 
    /* 1. Cria o círculo branco no centro (o "furo" da rosca) */
    radial-gradient(circle, #ffffff 55%, transparent 56%),
            conic-gradient(#e0e0e0 0% 100%);
  
  /* Flexbox para centralizar o texto bem no meio do buraco */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Uma sombrinha para dar o efeito 3D da sua imagem */
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.center-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: #701411;
}

.all-menu{
    width: 200px;
    display: flex;
    justify-content: end;
}

.menu-container{
    position: relative;
}

.menu-area{
    position: absolute;
    right: -20px;
    bottom: -130px;
    width: 300px;
    height: auto;
    padding: 15px;
    background-color: #003a25;
    opacity: 0;
    transform: translateX(120px);
    pointer-events: none;
    transition: opacity 0.6s ease, transform 0.4s ease;
}

.menu-area.menu-open{
    opacity: 1;
    transform: translateX(0px);
    pointer-events: auto;
}

.menu-area .close-area{
    width: 100%;
    text-align: end;
    font-weight: bold;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    transition:  0.7s ease  ;
}

.menu-area .ms{
    color: #FFF;
    font-weight: 200;
    font-size: 1.3rem;
    margin-bottom: 10px;
    cursor: pointer;
    transition:  0.7s ease  ;
}
.menu-area .ms:hover,
.menu-area .close-area:hover{
    color: #e0e000;
}








/* 
medias querys
*/


@media (max-width: 1200px){
    .logo-header{
        font-size: 1.5rem;
    }

    .carousel{
        gap: 0px;
    }

    .carousel .carousel-data{
        font-size: 1.4rem;
        min-width: 70px;
    }
    .hamburguer-menu{
        width: 40px;
        height: 30px;
    }
    .hamburguer-menu .line {
        height: 3px;
    }

    .higher-expenses-info, .nearing-expenses-info{
        font-size: 0.6rem;
    }

    .higher-expense-description, .nearing-expense-description {
        font-size: 0.5rem;
    }

    .higher-expenses-titulo, .nearing-expenses-titulo{
        font-size: 1rem;
    }

    .itemHead{
        font-size:0.8rem;
    }
    .expenses-add-area .item{
        text-align: center;
    }

    .revenue-circle, .expenses-simbol {
        width: 60px;
        height: 60px;
    }
    .revenue-circle i, .expenses-simbol i{
        font-size: 30px;
    }

    .user-info-sumary h3    {
        font-size: 0.7rem;
    }

    .user-info-sumary h1{
        font-size: 1.5rem;
        margin-top: 10px;
    }
}

@media (max-width: 930px){
    .higher-expenses-info, .nearing-expenses-info{
        font-size: 0.6rem;
    }
    .expense-summary{
        flex-direction: column;
    }

    .higher-expenses,.nearing-expiration{
        margin-left: 20px;
    }
    .higher-expenses-area{
        margin-right: 0px;
    }
    .graphc{
        height: auto;
    }

    .graphc-area{
        padding: 10px 0px 10px 20px;
    }
    .revenue-info h2,
    .expenses-info h2{
        font-size: 0.9rem;
    }
    .revenue-info h1,
    .expenses-info h1{
        font-size: 1.5rem;
    }

    .expenses-add-area .item,
    .revenue-add-area .item{
        font-size: 0.7rem;
    }

    .graphc-circle {
        width: 180px;
        height: 180px;
    }
}


@media (max-width: 750px){

    .higher-expenses-info, .nearing-expenses-info{
        font-size: 0.5rem;
    }

    .allContas{
        flex-direction: column;
    }
    .contas-area{
        margin-bottom: 20px;
    }
    .user-info-area{
        width: 70%;
    }
    .carousel-container{
        width: 140px;
    }

    .revenue-add-area{
        margin-right: 0px;
    }
}

@media (max-width: 600px){

    

    .graphc-area{
        flex-direction: column-reverse;
        padding: 10px 0px 10px 0px;
    }
    .higher-expenses, .nearing-expiration{
        margin-left: 0px;
    }
    .nearing-expiration{
        margin-bottom: 20px;
    }

    .user-info{
        margin:0px auto 10px auto;
    }
}

@media (max-width: 490px){
    .expenses,
    .revenue{
        flex-direction: column;
        text-align: center;
    }
    .revenue-circle,
     .expenses-simbol{
        width: 25px;
        height: 25px;
        margin-right: 0px;
     }
    .revenue-circle i,
     .expenses-simbol i{
        font-size: 15px;
     }

     .logo-header{
        font-size:1rem;
     }

     .carousel .carousel-data{
        font-size: 1rem;
        min-width: 40px;
     }

     .carousel-container{
        width: 100px;
     }

     .hamburguer-menu{
        width: 25px;
        height: 20px;
     }

     .user-info-img{
        width: 35px;
        height: 35px;
     }

     .user-info{
        height: 75px;
     }

     .name-user-info{
        font-size: 0.7rem;
     }

     .user-info-sumary h1{
        font-size: 1rem;
     }
}